@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,400i,500,500i,600,700');
$bodyFont: 'Barlow Semi Condensed', sans-serif;
$bodyBgColor: #fff;
$bodyFontSize: 14px;
$bodyWeight: 400;
/** Paragraph Font Style **/
$font: 'Barlow Semi Condensed', sans-serif;
$fontColor: #676766;
$headerFontColor:#404041;
$lightFont: 300;
$normalFont: 400;
$mediunFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
$whiteColor: #fff;
$blackColor: #000;
$greenColor: #39b54a;
$hoverBgColor: #278835;
/** Paragraph Font Style End **/
