@import 'reset';
@import 'variables';
@import 'mixins';

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyWeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

header {
  padding: 45px 0;
  background: $whiteColor;
  @include media(normal) {
    & {
      padding: 35px 0;
    }
  };

  .container {
    max-width: 1645px;
  }
  @include media(normal) {
    .container {
      max-width: 1280px;
    }
  };

  .navbar-brand {
    padding: 0;
    margin: 0;
    @include media(normal) {
      & {
        max-width: 200px;
      }
    };
  }

  .navbar {
    padding: 0;
    margin: 0;
    border: none;

    ul li.nav-item a.nav-link {
      padding: 0;
    }

    .navbar-nav {
      .nav-item,
      li {
        margin: 0 15px;
        padding: 0;
        @include media(normal) {
          li {
            margin: 0 8px;
          }
        };

        .dropdown-toggle::after {
          display: none;
        }

        .nav-link,
        a {
          display: inline-block;
          vertical-align: middle;
          font-size: 17px;
          text-transform: uppercase;
          color: $headerFontColor;
          text-transform: uppercase;
          background: transparent;
          font-weight: $mediunFont;
          letter-spacing: 0.02em;
          @include media(normal) {
            & {
              font-size: 15px;
            }
          };

          .fa {
            color: $greenColor;
          }

          &:focus,
          &:hover {
            color: $greenColor;
          }
        }

        &.active {
          a,
          a:focus,
          a:hover {
            color: $greenColor;
          }
        }
      }
    }

    .header-contact {
      a {
        font-weight: $mediunFont;
        font-size: 42px;
        color: $headerFontColor;
        letter-spacing: 0.03em;

        &:before {
          content: "";
          background: url("../images/contact-icon.png") no-repeat;
          background-size: 100%;
          width: 31px;
          height: 43px;
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
          position: relative;
          top: -4px;
          @include media(normal) {
            & {
              width: 21px;
              height: 31px;
              margin-right: 6px;
            }
          };
        }

        &:focus,
        &:hover {
          color: $greenColor;
        }
      }
      @include media(normal) {
        a {
          font-size: 24px;
        }
      };
    }
  }
}

.banner {
  background: url('../images/banner-img.png'), url("../images/banner-img-2.png");
  background-position: 0 0, center center;
  background-attachment: scroll, fixed;
  background-repeat: no-repeat;
  background-size: cover, 100%;
  background-color: #39b54a;
  padding: 80px 0 0;
  position: relative;
  text-align: center;
  max-height: 720px;
  margin-bottom: 280px;

  h1 {
    font-weight: $mediunFont;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: $whiteColor;
    text-align: center;
    font-size: 55px;
    margin-bottom: 40px;
    @include media(normal) {
      & {
        font-size: 42px;
      }
    };
  }

  .list {
    margin-bottom: 60px;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 25px;
        font-size: 22px;
        color: $whiteColor;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        text-align: center;

        figure {
          @include circle(76px);
          border: solid 2px $whiteColor;
          text-align: center;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          margin: 0 auto 10px;
        }
      }
    }
  }

  .video-area {
    width: 100%;
    height: 505px;
    max-width: 945px;
    display: block;
    position: relative;
    background: #78797c;
    padding: 20px;
    margin: 0 auto;

    iframe {
      width: 100%;
      height: 110%;
      border: none;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.36);
    }
  }

  &.inner-banner {
    @include background;
    min-height: 460px;
    padding: 80px 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-size: 100%;
    background-position: 0 0;
    animation: bg-animated 25s 2 ease-in-out;

    &:before {
      content: "";
      @include fullCover;
      background: rgba(0,0,0,0.65);
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 5;
    }

    h1 {
      margin: 0;
    }
  }
}

.client-logo-section {
  .client-logo-slider {
    .item {
      figure {
        text-align: center;
      }

      img {
        width: auto;
        max-width: 100%;
        display: inline-block;
        margin: 0 auto;
      }
    }

    .owl-nav {
      .owl-next,
      .owl-prev {
        font-size: 0;
        position: absolute;
        top: 50%;
        @include translateY;
      }

      .owl-prev {
        left: -8%;

        &:before {
          content: "\f104";
          font: normal normal normal 40px/1 FontAwesome;
          color: #d2d2d2;
          @include transition;
        }

        &:hover:before {
          color: $greenColor;
        }
      }

      .owl-next {
        right: -8%;

        &:before {
          content: "\f105";
          font: normal normal normal 40px/1 FontAwesome;
          color: #d2d2d2;
          @include transition;
        }

        &:hover:before {
          color: $greenColor;
        }
      }
    }
  }
}

.section {
  padding: 60px 0;

  h2 {
    font-size: 60px;
    color: $headerFontColor;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    text-align: center;
    font-weight: $mediunFont;
  }
}

.btn {
  @include btn;
}

.green-btn {
  background: $greenColor;
  color: $whiteColor;

  &:focus,
  &:hover {
    background: $hoverBgColor;
    color: $whiteColor;
  }
}

.white-btn {
  background: $whiteColor;
  color: $greenColor;

  &:focus,
  &:hover {
    background: $hoverBgColor;
    color: $whiteColor;
    animation: rubberBand 1s linear 0s 1 alternate;
  }
}

.what-we-do-section {
  display: block;
  background: #f8f8f8;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding-bottom: 80px;

  h2 {
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 200px;
    background: #f8f8f8;
    z-index: 1;
  }

  .what-we-do-post {
    padding: 5px;
    background: $whiteColor;
    box-shadow: 0 0 19px rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;

    figure {
      @include background;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: 220px;
      position: relative;

      &:before {
        content: "";
        @include fullCover;
        background: rgba(0,0,0,0.82);
        z-index: 1;
      }

      img {
        position: relative;
        z-index: 5;
      }
    }

    .what-we-do-post-body {
      background: $whiteColor;
      padding: 25px 10px 50px;
      text-align: center;
      position: relative;

      h4 {
        font-size: 19px;
        color: $headerFontColor;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
        font-weight: $semiBoldFont;
      }

      p {
        font-size: 15px;
        line-height: 1.7;
        color: $fontColor;
      }

      .btn {
        position: absolute;
        bottom: -26px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 120px;
      }
    }
  }
}

.testimonials-section {
  display: block;
  background: #080a0c;

  h2 {
    text-align: center;
    color: $whiteColor;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
  }

  .testimonial-slider {
    .testimonial-video {
      display: block;
      background: #c4c4c4;
      padding: 15px;
      position: relative;
      width: 100%;
      height: 350px;
      margin-bottom: 40px;

      iframe {
        width: 100%;
        height: 112%;
        position: relative;
        display: block;
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.62);
      }
    }

    .testimonial-text {
      position: relative;
      padding: 50px;

      &:before {
        content: "";
        background: url("../images/open-quotes.png") no-repeat;
        background-size: 100%;
        width: 118px;
        height: 103px;
        position: absolute;
        top: 0;
        left: 0;
      }

      p {
        font-size: 17px;
        letter-spacing: 0.02em;
        line-height: 1.7;
        margin-bottom: 25px;
        color: $whiteColor;
        font-weight: $lightFont;
      }

      figure {
        display: block;
        margin-top: 30px;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: -4px;
          width: auto;
        }

        figcaption {
          display: inline-block;
          vertical-align: middle;
          margin-right: -4px;
          width: auto;
          padding-left: 25px;
          font-size: 14px;
          color: $whiteColor;

          strong {
            font-size: 16px;
            font-weight: $mediunFont;
            text-transform: uppercase;
            letter-spacing: 0.03em;
          }
        }
      }
    }
  }
}

.contract-free-section {
  h2 {
    text-align: left;
    margin-bottom: 25px;
    font-weight: $mediunFont;
  }

  p {
    font-size: 16px;
    color: $fontColor;
    line-height: 1.7;
    letter-spacing: 0.02em;
    margin-bottom: 25px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .our-process-section {
    display: flex;
    @include background;
    padding: 20px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
    margin-bottom: 20px;

    &::before {
      content: "";
      @include fullCover;
      background: rgba(0,0,0,0.86);
      z-index: 1;
    }

    a,
    h3 {
      position: relative;
      z-index: 5;
    }

    h3 {
      font-size: 37px;
      font-weight: $mediunFont;
      color: $whiteColor;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin-bottom: 15px;
      text-align: center;
    }

    a.btn {
      min-width: 255px;
      border-radius: 30px;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 2.9;
      position: relative;

      &:after {
        content: "";
        display: inline-block;
        background: url("../images/click-icon.png") no-repeat;
        background-size: 100%;
        width: 25px;
        height: 23px;
        vertical-align: baseline;
        position: relative;
        top: 11px;
        margin-left: 3px;
      }

      &:before {
        content: "";
        @include fullCover;
        border: dotted 1px #fff;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        border-radius: 30px;
      }
    }
  }

  .our-quiz-section {
    display: flex;
    @include background;
    padding: 20px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;

    h4 {
      font-size: 30px;
      font-weight: $normalFont;
      color: $whiteColor;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }
}

.free-consultation-section {
  padding: 80px 0;
  @include background;
  position: relative;
  background-color: rgb(57,181,74);

  &:before {
    content: "";
    @include fullCover;
    background: rgba(57,181,74,0.01);
    z-index: 1;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 5;

    h4 {
      font-size: 43px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin: 0;
      font-weight: $mediunFont;
      color: $whiteColor;
    }

    .white-btn {
      font-size: 30px;
      text-transform: uppercase;
      min-width: 230px;
      box-shadow: 0 0 26px rgba(0,0,0,0.15);
    }
  }
}

footer {
  background: #0b0b0b;
  padding: 65px 0 0;

  figure {
    margin-bottom: 35px;
  }

  h4 {
    font-size: 30px;
    color: $whiteColor;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  p {
    font-weight: $normalFont;
    font-size: 17px;
    color: $whiteColor;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
    line-height: 1.7;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
      font-weight: $normalFont;
      font-size: 17px;
      color: $whiteColor;
      letter-spacing: 0.02em;

      a {
        color: $whiteColor;

        &:focus,
        &:hover {
          color: $greenColor;
        }
      }
    }
  }

  .social-links {
    ul {
      li {
        display: inline-block;
        width: auto;
        margin-right: 15px;

        a {
          display: block;
          width: 42px;
          height: 42px;
          text-align: center;
          line-height: 42px;
          color: $whiteColor;
          background: $greenColor;
        }
      }
    }
  }

  .footer-map {
    width: 100%;
    height: 355px;
    display: block;
    padding-left: 50px;

    iframe {
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }
  }

  .footer-links {
    padding-left: 50px;
  }

  .copyright {
    background: #000;
    text-align: center;
    padding: 25px 0;
    margin-top: 65px;

    p {
      color: $whiteColor;
      font-size: 14px;
      margin: 0;
    }
  }
}
/** Inner Pages **/

.inner-page {
  background: #f7f7f7;

  p {
    font-size: 18px;
    color: $fontColor;
    letter-spacing: 0.02em;
    line-height: 1.7;
    margin-bottom: 25px;
  }
}

.gap {
  display: block;
}
/** Our Service Page Start **/

.our-services-section {
  .our-service-post {
    display: block;
    margin-bottom: 30px;

    figure {
      @include background;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: 215px;

      &:before {
        content: "";
        @include fullCover;
        background: rgba(0,0,0,0.85);
        z-index: 1;
      }

      img {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        z-index: 5;
      }
    }

    .our-service-post-heading {
      background: $greenColor;
      text-align: center;
      padding: 15px;

      h5 {
        font-size: 20px;
        letter-spacing: 0.02em;
        font-weight: $mediunFont;
        color: $whiteColor;
        text-transform: uppercase;
      }
    }
    .our-service-post-text{
      background: $whiteColor;
      padding: 25px 30px;
      text-align: center;
      p{
        color: $headerFontColor;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }

  }
}
/** Our Service Page End **/
/** FAQ Page **/
.faq-search-cover {
  display: block;
  position: relative;
  margin-bottom: 50px;

  .form-group {
    margin: 0;
    display: block;

    .form-control {
      width: 100%;
      height: 75px;
      padding: 2px 30px;
      box-shadow: none;
      border: solid 1px transparent;
      font-size: 18px;
      color: $blackColor;
      border-radius: 0;
      padding-right: 210px;

      ::-webkit-input-placeholder {
        color: #818285;
      }

      ::-moz-placeholder {
        color: #818285;
      }

      :-ms-input-placeholder {
        color: #818285;
      }

      input:-moz-placeholder {
        color: #818285;
      }

      :focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 195px;
    height: 74px;
    font-size: 24px;
  }
}

.faq-list-cover {
  background: $whiteColor;
  padding: 28px;

  .card {
    border: solid 1px #d8d8d8;
    border-radius: 0;
    margin-bottom: 30px;

    .card-header {
      background: $whiteColor;
      padding: 0;
      border: none;

      a {
        display: block;
        padding: 15px 20px;
        font-weight: $mediunFont;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: $headerFontColor;
        position: relative;
        padding-right: 40px;
        background: #ececec;

        &:after {
          content: "\f106 ";
          font: normal normal normal 24px/1 FontAwesome;
          position: absolute;
          top: 50%;
          @include translateY;
          right: 20px;
          color: $greenColor;
        }

        &.collapsed {
          background: #fff;

          &:after {
            content: "\f107";
          }
        }

        &:hover {
          color: $greenColor;
        }
      }
    }

    .card-body {
      p {
        font-size: 15px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
/** FAQ Page End **/
/** Team Page **/

.team-post {
  display: block;
  box-shadow: 0 0 8px rgba(0,0,0,0.21);

  figure {
    min-height: 450px;
    @include background;
  }

  .team-post-text {
    padding: 30px 25px;
    text-align: center;
    background: $whiteColor;

    h3 {
      font-weight: $mediunFont;
      font-size: 26px;
      color: $headerFontColor;
      text-transform: uppercase;
      letter-spacing: 0.02em;

      &:after {
        content: "";
        display: block;
        margin: 15px auto;
        width: 155px;
        height: 1px;
        background: #ececec;
      }
    }

    h4 {
      font-size: 24px;
      color: $greenColor;
      text-transform: capitalize;
      letter-spacing: 0.02em;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
/** Team Page End **/
/** Process Page **/

.process-section {
  background: $whiteColor;

  .top-intro-text {
    padding-bottom: 40px;

    h2 {
      text-align: left;
    }

    .pull-right {
      margin-left: 50px;
      margin-bottom: 30px;
    }
  }

  .learn-process-section {
    background: #f7f7f7;
    text-align: center;

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    figure {
      margin-bottom: 30px;
    }

    h3 {
      font-weight: $mediunFont;
      font-size: 40px;
      color: $headerFontColor;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }

    blockquote {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 100%;
      max-width: 820px;
    }

    .btn {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 2;
      min-width: 210px;
      box-shadow: 0 5px 18px rgba(0,0,0,0.25);
    }

    .learn-process-post {
      figure {
        @include background;
        padding-bottom: 85%;
        margin-bottom: 30px;
      }

      h3 {
        a {
          color: $headerFontColor;

          &:focus,
          &:hover {
            color: $greenColor;
          }
        }
      }
    }

    &.white-section {
      background: #fff;
      padding-bottom: 0;
    }
  }

  .process-step-list {
    ul {
      margin: 0;
      padding: 0;
      counter-reset: section;

      li {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        margin-bottom: 35px;

        figure {
          @include fullCover;
          @include background;
          width: 307px;
        }

        div {
          width: calc(100% - 325px);
          background: #f2f2f2;
          padding: 25px 30px;
          margin-left: 325px;


          h4 {
            font-weight: $mediunFont;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: $headerFontColor;
            margin-bottom: 20px;
            text-transform: uppercase;
            position: relative;
            padding-left: 45px;
            min-height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;

            &:before {
              counter-increment: section;
              content: counter(section);
              position: absolute;
              @include circle(35px);
              line-height: 35px;
              text-align: center;
              color: $whiteColor;
              font-size: 16px;
              background: $greenColor;
              top: 0;
              left: 0;
            }
          }
        }

        &:nth-child(even){
          figure{
            left: auto;
            right: 0;
          }
          div{
            margin-left: 0;

          }
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
/** Process Page End**/

/** Contact Page **/
.contact-section{
  background: $whiteColor;
}
.contact-form{
   background:#f4f4f4;
   border: solid 1px #ececec;
   padding: 26px;
   h4{
     text-align: center;
     font-weight: $mediunFont;
     font-size: 36px;
     color: $headerFontColor;
     text-transform: uppercase;
   }
   p{
     color: $fontColor;
     font-size: 16px;
     text-align: center;

   }
   .form-group{
     display: block;
     margin-bottom: 18px;
     .form-control{
       display: block;
       height: 70px;
       padding: 2px 15px;
       border: solid 1px transparent;
       background: $whiteColor;
       font-size: 17px;
       font-weight: $normalFont;
       letter-spacing: 0.02em;
       border-radius: 0px;
     }
     textarea.form-control{
       height: 150px;
       resize: none;
       padding-top: 10px;
     }
   }
   .btn{
     width: 100%;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: $mediunFont;
     color: $whiteColor;
   }
}

.contact-details{
  ul{
    margin: 0;
    padding: 0;
    li{
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      background:#818285;
      text-align: center;
      justify-content: center;
      position: relative;
      min-height: 100px;
      margin-bottom: 15px;
      padding-left: 100px;
      font-size: 21px;
      color: $whiteColor;
      a{
        color: $whiteColor;
        &:hover, &:focus{
          opacity: 0.7;
          color: $whiteColor;
        }
        &[target="_blank"]{
          width: 54px;
          height: 54px;
          line-height: 54px;
          text-align: center;
          color: $whiteColor;
          font-size: 16px;
          box-shadow: 0px 3px 5px rgba(0,0,0,0.16);
          margin: 0 8px;
          &:hover, &:focus{
            opacity: 1;
            color: $whiteColor;
            background: $greenColor;
          }
        }

      }
      figure{
        @include fullCover;
        background: $greenColor;
        color: $whiteColor;
        right: auto;
        width: 97px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    }
  }
}

/** Contact Page End **/

/** Consultation page **/
.consultation-section{
  background: $whiteColor;
  h3{
    font-size: 35px;
    color: $headerFontColor;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    text-align: left;
    font-weight: $mediunFont;
  }

  .what-learn-section{
    margin-top: 50px;
    .what-learn-post{
      display: block;
      figure{
        @include background;
        display: block;
        height:167px;
        position: relative;
        &:before{
          content: "";
          @include fullCover;
          background:rgba(129,130,133,0.61);
          z-index: 1;
        }
      }
      .what-learn-post-text{
        background: $greenColor;
        text-align: center;
        color:$whiteColor;
        padding: 15px 15px;
        p{
          font-size: 17px;
          line-height: 1.3;
          text-transform: uppercase;
          font-weight: $mediunFont;
          color: $whiteColor;
          &:last-of-type{
            margin-bottom: 0;
          }

        }
      }
    }
  }

}




/** Consultation Page End **/



/** Inner Pages End **/
/** Effects **/

.wave {
  background: url("../images/wave.svg") repeat-x;
  position: absolute;
  top: 40px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &:nth-of-type(2) {
    top: 35px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 0.5;
  }
}
@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes bg-animated {
  0% {
    background-size: 100%;
  }

  50% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}
